<% provide(:title, 'Edit Content') %>
<h3><%= @content.title %></h3>

<div class="row">
  <aside class="span4">
	<section>
	<h4>Parent:</h4>
	<% if @content.category.parent.nil? %>
		<%= link_to @content.category.title, categories_path %>
	<% else %>	
		<%= link_to @content.category.title, @content.category %>		
	<% end %>
	</section>
  </aside>
  <div class="span8">
    <%= form_for(@content) do |f| %>
	  <%= render 'fields', f: f %>
      <%= f.submit "Edit content", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
