<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Главная", root_path %></li>
          <li><%= link_to "Помощь", help_path %></li>
          <% if signed_in? %>
			<% if @current_user.admin? %>
			<li><%= link_to "Админ", admin_path %></li>
			<% end %>
            <li><%= link_to "Все", users_path %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= @current_user.name %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Настройки", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Выход", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Войти", signin_path %></li>
          <% end %>
        </ul>
      </nav>
	
	
      <div id="firstline">
	  <div id="logo">
		<a href="/">ЕДИНЫЙ ЦЕНТР</a>
	  </div>
	  <div id="nav-tel-menu">
		<a href="skype:+74957759000?call" style="border:0;text-decoration:none;">
		  <div id="tel">8 (495) 775-9000</div>
		</a>
		<div class="clear"></div>
	  </div>
	  <div class="clear"></div>
	   </div>
    </div>
  </div>
</header>