<% provide(:title, 'Edit Content') %>
<h3><%= @content.title %></h3>

<div class="row">
  <aside class="span4">
	<section>
	<h5>Родительский раздел:</h5>
	<% if @category.parent.nil? %>
		<%= link_to @category.title, admin_categories_path %>
	<% else %>	
		<%= link_to @category.title, edit_admin_category_path(@category) %>		
	<% end %>
	</section>
	<section>
	<h5>Другие материалы:</h5>
	<div><%= link_to 'Новый материал', new_admin_category_content_path(@category), class: "btn btn-large btn-primary" %></div>
	<ul class="subcontents">
	  <%= render @contents %>
	</ul>
	
	<%= will_paginate %>
	
	</section>
  </aside>
  <div class="span8">
    <%= form_for @content, url: {action: "update"} do |f| %>
	  <%= render 'fields', f: f %>
      <%= f.submit "Обновить", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
