<% provide(:title, 'Edit Category') %>
<h1>Edit category <%= @category.title %></h1>

<div class="row">
  <aside class="span4">
	<% if @parent.blank? %>
	root
	<% else %>
	<%= link_to @parent.title, @parent %>
	<% end %>
	<% if @subcategories.empty? %>
	Has no child categories
	<% else %>
	<ul class="subcategories">
	  <%= render @subcategories %>
	</ul>
	<% end %>
  </aside>
  <div class="span8">
    <%= form_for(@category) do |f| %>
	  <%= render 'fields', f: f %>
      <%= f.submit "Edit category", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
